VideoCataloger/VideoCataloger/VideoCataloger/Connected Services/RemoteCatalogService/2015.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://videocataloger.com/2015" elementFormDefault="qualified" targetNamespace="http://videocataloger.com/2015" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VideoCatalogService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SetActiveCatalogInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="handle" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCatalogInstance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCatalogInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveCatalogInstanceResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="video_length" type="xs:double" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="genre" type="xs:int" />
        <xs:element minOccurs="0" name="rating" type="xs:int" />
        <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preview" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="file_size" type="xs:long" />
        <xs:element minOccurs="0" name="encrypted" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVideoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVideoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideoFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_id_to_remove" type="xs:long" />
        <xs:element minOccurs="0" name="keep_video_file_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVideos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="video_query" nillable="true" type="q1:VideoQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVideosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="SearchVideosResult" nillable="true" type="q2:ArrayOfVideoFileEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVideosFromString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search_string" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVideosFromStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="SearchVideosFromStringResult" nillable="true" type="q3:ArrayOfVideoFileEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyMeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="property" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyMetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetPropertyMetaResult" nillable="true" type="q4:ArrayOfPropertyMeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertyMeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="property" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aspect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePropertyMeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="property" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aspect" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileExtendedProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileExtendedPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetVideoFileExtendedPropertyResult" nillable="true" type="q5:ArrayOfExtendedProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoFileExtendedProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:int" />
        <xs:element minOccurs="0" name="property" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailExtendedProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbnail_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailExtendedPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetThumbnailExtendedPropertyResult" nillable="true" type="q6:ArrayOfExtendedProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetThumbnailExtendedProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbnail_id" type="xs:int" />
        <xs:element minOccurs="0" name="property" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchThumbnails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="video_query" nillable="true" type="q7:VideoQuery" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="scene_search" nillable="true" type="q8:SceneQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchThumbnailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="SearchThumbnailsResult" nillable="true" type="q9:SceneQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVideoFileIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetVideoFileEntryResult" nillable="true" type="q10:VideoFileEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVideoFileImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoFileImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="image_data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="genre_title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="property_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVideoFilePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVideoFilePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVideoFilePathResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForVideos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selected_videos" nillable="true" type="q11:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForVideosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetTagsForVideosResult" nillable="true" type="q12:ArrayOfTagInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTagsFromVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagInstanceID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTagsFromVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTagsFromVideoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="entered_keyword_string" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagVideoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVideoTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="tag" nillable="true" type="q13:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVideoTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="CreateVideoTagResult" nillable="true" type="q14:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideoTagFromCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteThumbTagFromCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoTagProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag_id" type="xs:long" />
        <xs:element minOccurs="0" name="property_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVideoTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVideoTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetAllVideoTagsResult" nillable="true" type="q15:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomVideoFileEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="max_nof_items" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomVideoFileEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRandomVideoFileEntriesResult" nillable="true" type="q16:ArrayOfKeyValueOflongVideoFileEntryveKurTN_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportActors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="actor_ids" nillable="true" type="q17:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActorTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActorTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetAllActorTagsResult" nillable="true" type="q18:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetActorTagsResult" nillable="true" type="q19:ArrayOfTagInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActorTagProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag_id" type="xs:long" />
        <xs:element minOccurs="0" name="property_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorTagID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag_text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorTagIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActorTagIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActorTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="tag" nillable="true" type="q20:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActorTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="CreateActorTagResult" nillable="true" type="q21:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tag_filter" nillable="true" type="q22:ArrayOfstring" />
        <xs:element minOccurs="0" name="surename_filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname_filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip_image_data" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetActorsResult" nillable="true" type="q23:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsForVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="skip_image_data" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsForVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetActorsForVideoResult" nillable="true" type="q24:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActorToDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="actor" nillable="true" type="q25:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActorToDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddActorToDBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="actor" nillable="true" type="q26:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActorTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:long" />
        <xs:element minOccurs="0" name="tag_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:long" />
        <xs:element minOccurs="0" name="tag_text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveActorCompanionImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companion_image_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActorTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_tag_instance_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActorCompanionImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:long" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="server_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActorCompanionImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddActorCompanionImageResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorPortrait">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorPortraitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActorPortraitResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetActorResult" nillable="true" type="q27:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActorUsed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActorUsedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsActorUsedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActorToVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="actor_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveActorFromVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="actor_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="video_list" nillable="true" type="q28:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetCastResult" nillable="true" type="q29:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorCompanionImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actor_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorCompanionImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetActorCompanionImagesResult" nillable="true" type="q30:ArrayOfActorCompanionImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaggedActors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagged_actor_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForThumbs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selected_thumbs" nillable="true" type="q31:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForThumbsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetTagsForThumbsResult" nillable="true" type="q32:ArrayOfTagInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTagsFromThumbnails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagInstanceID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTagsFromThumbnailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTagsFromThumbnailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="thumb_entry" nillable="true" type="q33:ThumbnailEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagThumbs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="thumb_list" nillable="true" type="q34:ArrayOflong" />
        <xs:element minOccurs="0" name="entered_keyword_string" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagThumbsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagThumbsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailImageFromID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbnail_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailImageFromIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetThumbnailImageFromIDResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbnail_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetThumbnailResult" nillable="true" type="q35:ThumbnailEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllThumbnailTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllThumbnailTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetAllThumbnailTagsResult" nillable="true" type="q36:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbnail_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailsForVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="include_image_data" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailsForVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetThumbnailsForVideoResult" nillable="true" type="q37:ArrayOfKeyValueOflongThumbnailEntryveKurTN_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailsIDsForVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailsIDsForVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetThumbnailsIDsForVideoResult" nillable="true" type="q38:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoverImages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoverImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetAllCoverImagesResult" nillable="true" type="q39:ArrayOfCoverImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverImagesForVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverImagesForVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetCoverImagesForVideoResult" nillable="true" type="q40:CoverImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanionImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="image_paths" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanionImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="image_path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="server_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanionImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCompanionImageResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVideoCompanionImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companion_image_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanionImageID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:int" />
        <xs:element minOccurs="0" name="escaped_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanionImageIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompanionImageIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileIDForCompanionImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileIDForCompanionImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVideoFileIDForCompanionImageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCoverImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="front_cover_id" type="xs:int" />
        <xs:element minOccurs="0" name="back_cover_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanionImagePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Source_path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Destination_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanionImagePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCompanionImagePathResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCompanionImagePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image_id" type="xs:long" />
        <xs:element minOccurs="0" name="new_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoCompanionImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoCompanionImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetVideoCompanionImagesResult" nillable="true" type="q42:ArrayOfVideoCompanionImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVideoCompanionImages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVideoCompanionImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetAllVideoCompanionImagesResult" nillable="true" type="q43:ArrayOfVideoCompanionImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageCompanionFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveImageFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="image_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArchiveMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device_identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device_root" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArchiveMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateArchiveMediaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archive_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArchiveMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archive_id" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device_identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device_root" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archive_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetArchiveResult" nillable="true" type="q44:Archive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchives">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetArchivesResult" nillable="true" type="q45:ArrayOfArchive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesForVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesForVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetArchivesForVideoResult" nillable="true" type="q46:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="archive_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllTagNamesResult" nillable="true" type="q47:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetGenresResult" nillable="true" type="q48:ArrayOfVideoGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameGenreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNofVideos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNofVideosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNofVideosResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNofActors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNofActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNofActorsResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNofCompanionImages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNofCompanionImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNofCompanionImagesResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoTagUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoTagUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVideoTagUseResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbTagUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbTagUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetThumbTagUseResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorTagUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorTagUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActorTagUseResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSettingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideosInBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bin_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideosInBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetVideosInBinResult" nillable="true" type="q49:ArrayOfVideoFileEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBinsInBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bin_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBinsInBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetBinsInBinResult" nillable="true" type="q50:ArrayOfBin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoToBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="video_file_id" type="xs:long" />
        <xs:element minOccurs="0" name="bin_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoToBinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVideoFromBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bin_to_remove_from" type="xs:long" />
        <xs:element minOccurs="0" name="video_to_remove" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bin_to_remove" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parent" type="xs:long" />
        <xs:element minOccurs="0" name="color" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="CreateBinResult" nillable="true" type="q51:Bin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBinProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bin_id" type="xs:long" />
        <xs:element minOccurs="0" name="property_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetAllBinsResult" nillable="true" type="q52:ArrayOfBin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoClip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="clip" nillable="true" type="q53:VideoClip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoClipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetVideoClipResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoClip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clip_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoClipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetVideoClipResult" nillable="true" type="q54:VideoClip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideoClip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clip_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVideoPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVideoPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateVideoPlaylistResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVideoPlaylists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVideoPlaylistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetAllVideoPlaylistsResult" nillable="true" type="q55:ArrayOfVideoPlaylist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playlist_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClipToPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playlist_id" type="xs:long" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="clip_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistClip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playlist_id" type="xs:long" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistClipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/VideoCatalogService" minOccurs="0" name="GetPlaylistClipResult" nillable="true" type="q56:VideoClip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlaylistClip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playlist_id" type="xs:long" />
        <xs:element minOccurs="0" name="clip_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistClipIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playlist_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistClipIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPlaylistClipIDsResult" nillable="true" type="q57:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>